---
import Lessons from '@components/Lessons.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="Clases">
  <main>
    <Lessons />
  </main>
</BaseLayout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 80ch;
  }
</style>
