---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="Clases">
  <main>
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
  </main>
</BaseLayout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 80ch;
  }
</style>
